---
title: Homepage
permalink: /
layout: "layouts/base.html"
---

<div class="container px-3 md:px-12 2xl:px-16 mx-auto py-12">
	<div class="flex items-center justify-between lg"justify-start">
		<a href="/">
			<img src="/assets/img/logo-header.png" class="max-h-14 xl:max-h-16 mx-auto lg:mx-0" alt="logo">
		</a>
		<div class="pl-12 2xl:pl-20 hidden lg:flex justify-between items-center w-full">
			<div>
				<ul class="flex flex-col sm:flex-row justify-center gap-3 sm:gap-5 xl:gap-7">
					<li class="flex justify-center">
						<a href="/" class="font-sourceSans font-bold text-[#333333] xl:text-lg">
							Features
						</a>
					</li>
					<li class="flex justify-center">
						<a href="/" class="font-sourceSans font-bold text-[#333333] xl:text-lg">
							Case Studies
						</a>
					</li>
					<li class="flex justify-center">
						<a href="/" class="font-sourceSans font-bold text-[#333333] xl:text-lg">
							Our Clients
						</a>
					</li>
					<li class="flex justify-center">
						<a href="/" class="font-sourceSans font-bold text-[#333333] xl:text-lg">
							Testimonials
						</a>
					</li>
					<li class="flex justify-center">
						<a href="/" class="font-sourceSans font-bold text-[#333333] xl:text-lg">
						  Team
						</a>
					</li>
				</ul>
			</div>
			<div class="flex items-center gap-10">
				<ul>
					<li class="flex justify-center">
						<a href="/" class="font-sourceSans font-bold text-[#333333] xl:text-lg">
						  Pricing
						</a>
					</li>
				</ul>
				<a href="/" class="bg-[#fae1b6] rounded-lg px-6 xl:px-7 py-3 font-sourceSans text-flxDark xl:text-[17px] inline-flex gap-2.5 items-center">
					<div>
						<img src="/assets/img/icon-email.png" class="max-h-3.5" alt="icon email">
					</div>
					Contact us
				</a>
			</div>
		</div>
		<button class="block lg:hidden">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="w-8 h-8 text-flxBlack lg:h-10 lg:w-10"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
				stroke-width="2"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M4 6h16M4 12h16M4 18h16"
				/>
			</svg>
		</button>
	</div>
</div>

<div class="bg-flxDark py-12 lg:py-16 xl:py-20">
	<div class="container px-3 md:px-12 2xl:px-16 mx-auto">
			<div class="flex flex-col lg:flex-row justify-between">
				<a href="/">
					<img src="/assets/img/logo-footer.png" class="max-h-14 xl:max-h-16 mx-auto lg:mx-0" alt="logo">
				</a>
				<div class="pt-9 sm:pt-7 xl:pt-8">
					<ul class="flex flex-col sm:flex-row justify-center gap-3 sm:gap-5 xl:gap-7">
						<li class="flex justify-center">
							<a href="/" class="font-sourceSans font-bold text-white xl:text-lg">
								Features
							</a>
						</li>
						<li class="flex justify-center">
							<a href="/" class="font-sourceSans font-bold text-white xl:text-lg">
								Case Studies
							</a>
						</li>
						<li class="flex justify-center">
							<a href="/" class="font-sourceSans font-bold text-white xl:text-lg">
								Our Clients
							</a>
						</li>
						<li class="flex justify-center">
							<a href="/" class="font-sourceSans font-bold text-white xl:text-lg">
								Testimonials
							</a>
						</li>
						<li class="flex justify-center">
							<a href="/" class="font-sourceSans font-bold text-white xl:text-lg">
							  Team
							</a>
						</li>
						<li class="flex justify-center">
							<a href="/" class="font-sourceSans font-bold text-white xl:text-lg">
							  Pricing
							</a>
						</li>
					</ul>
					<div class="flex flex-col sm:flex-row justify-center gap-3 sm:gap-12 pt-8 sm:pt-4 lg:pt-7 xl:pt-9">
						<a href="mailto:hello@flxwebsites.com" class="flex justify-center sm:justify-start items-center gap-1.5 xl:gap-2 font-sourceSans text-white xl:text-[17px]">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" class="max-h-3" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z" fill="rgba(255,255,255,1)"/></svg>
							</div>
							hello@flxwebsites.com
						</a>
						<a href="tel:3157192047" class="flex justify-center sm:justify-start items-center gap-1.5 xl:gap-2 font-sourceSans text-white xl:text-[17px]">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" class="max-h-4" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M7 4v16h10V4H7zM6 2h12a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm6 15a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" fill="rgba(255,255,255,1)"/></svg>
							</div>
							(315) 719-2047
						</a>
					</div>
				</div>
				<div>
					<div class="flex justify-center lg:justify-start mt-8 sm:mt-6 lg:mt-0">
						<a href="/" class="bg-white rounded-lg px-6 xl:px-7 py-3 lg:py-3.5 xl:py-4 font-sourceSans font-bold text-flxDark xl:text-lg inline-flex gap-2.5 items-center">
							<div>
								<img src="/assets/img/icon-email.png" class="max-h-3.5" alt="icon email">
							</div>
							Contact us
						</a>
					</div>
				</div>
			</div>
			<div class="flex flex-col sm:flex-row justify-between pt-8 sm:pt-5 gap-4 sm:gap-5">
				<ul class="flex justify-center sm:justify-start gap-8">
					<li>
						<a href="/" class="underline font-sourceSans text-sm sm:text-[15px] text-white">Privacy Policy</a>
					</li>
					<li>
						<a href="/" class="underline font-sourceSans text-sm sm:text-[15px] text-white">Terms of use</a>
					</li>
				</ul>
				<span class="flex justify-center sm:justify-start font-sourceSans text-sm sm:text-[15px] text-white">Copyright ©  2022 FLX Websites</span>
			</div>
	</div>
</div>
